@import url('https://fonts.cdnfonts.com/css/harry-p');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-image: url("background.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(10px);
  color: white;
  font-size: 25px;

}

@import url('https://fonts.cdnfonts.com/css/harry-p');

.mainname {
  font-size: 60px;
  color: white;
  font-family: 'Harry P', sans-serif;
}

nav a {
  color: white;
  margin: 20px;
  font-family: 'IM Fell English SC', serif;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
  background: rgba(0,0,0,0.35);
  background-image: url("background.gif");
  background-size: cover;
  background-position: center;
}

.info-section {
  background: white;
  min-height: 100vh;
  padding: 100px;
  color: black;
}

.hero-img {
  width: 400px;
  margin-left: auto; 
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}

.text {
  max-width: 600px;
}

.text h1 {
    font-size: 70px;
    color: white;
    text-shadow: 0 0 20px rgba(255,255,255,0.6);
    font-family: 'Cinzel Decorative', serif;
}

.text h2 {
  color: papayawhip;
  font-size: 40px;
  margin: 10px 0;
  font-family: 'IM Fell English SC', serif;
}

